.localgroups {
	margin: 6rem 0 2rem;
	padding-bottom: 2rem;
}
.localgroups img {
	margin-top: -4rem;
	margin-bottom: 1rem;
}
.localgroups .inner a {
	margin: 0 auto 0.4em auto;
	background-color: #46ADD6;
	color: #ffffff;
	text-align: center;
	padding: 0.8rem 1rem;
	text-decoration: none;
	display: block;
	max-width: 250px;
	font-weight: 500;
	font-family: "Roboto Mono", monospace;
	font-size: 1.063rem;
}
.localgroups .inner a:hover,
.localgroups .inner a:active,
.localgroups .inner a:focus {
	background-color: #006A8B;
	color: #ffffff;
}

@media(min-width: 576px) {
	.localgroups {
		display: flex;
		align-items: center;
		margin: 6rem 0 2rem;
	}
	.localgroups img {
		width: 55%;
		margin-top: -2rem;
		margin-bottom: 0;
	}
	.localgroups .inner {
		width: 45%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.localgroups .inner a {
		flex-basis: 49.4%;
		max-width: none;
		padding: 0.5rem 0;
		margin: 0 0 0.4em 0;
		font-size: 0.9rem;
	}
}
@media(min-width: 992px) {
	.localgroups img {
		margin-top: -4rem;
	}
	.localgroups .inner {
		margin-top: 1rem;
	}
	.localgroups .inner a {
		padding: 0.8em 1rem;
		font-size: 1.063rem;
	}
	.localgroups {
		margin-left: -100px;
		margin-right: -100px;
	}
}

/* Front page */
.localgroups-wrapper {
  background-color: #46ADD6;
	padding: 0 1em;
}
.localgroups-wrapper > .localgroups {
	max-width: 1010px;
  margin: 0 auto;
}
.localgroups-wrapper > .localgroups .inner a {
	background-color: #0D83A8;
}
.localgroups-wrapper > .localgroups .inner a:hover,
.localgroups-wrapper > .localgroups .inner a:active,
.localgroups-wrapper > .localgroups .inner a:focus {
	background-color: #006A8B;
}


main .post-content .intro {
	font-family: "Roboto Mono", monospace;
	font-weight: 400;
	font-size: 1.2rem;
	margin: 1rem 0;
}

@media(min-width: 768px) {
	main .post-content .intro {
		font-size: 1.4rem;
	}
}
@media(min-width: 992px) {
	main .post-content .intro {
		font-size: 1.6rem;
	}
}
