.ctn-post {
    margin: 1rem auto;
    // width: 70%;

    // @include media-breakpoint-up(md) {
    //     margin: 4rem auto 10r;
    // }

    @include media-breakpoint-up(lg) {
        width: 70%;
        margin: 4rem auto 10rem auto;
    }


    h1 {
        margin: 1rem auto 2rem auto;
        font-size: 1.75rem;
        font-weight: 900;


        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            margin: 1rem 3rem;
        }
    }

    .sub-text {
        margin: 1rem 0;
        font-size: 1rem;
        font-weight: 400;
        font-family: $secondary-font;

        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.6rem;
            margin: 1rem 3rem;
        }

    }

    img {
        margin: 1rem auto;


        @include media-breakpoint-up(md) {
            margin: 2rem auto;
        }

        @include media-breakpoint-up(lg) {
            margin: 3rem auto;
        }
    }

    p {
        margin: 1rem 0;
        font-size: 1.1rem;
        font-family: $primary-font;
        font-weight: 300;

        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            margin: 1rem 3rem;
        }
    }

    h2 {
        margin: 2rem 0 1rem 0;
        font-size: 1.75rem;
        font-family: $primary-font;
        font-weight: 700;

        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            margin: 2rem 3rem 1rem 3rem;
        }
    }
}

.material {
    // width: 70%;
    // margin: 1rem auto;

    display: flex;

    @include media-breakpoint-up(lg) {
        width: 70%;
        margin: 1rem auto;
    }

    img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        margin-right: 1rem;
    }

    a:link,
    a:visited {
        color: $font-color;
        text-decoration: none;

        h3 {
            font-size: 1.25rem;
            font-family: $primary-font;
            font-weight: 700;
        }

        p {
            font-size: 0.8rem;
            font-family: $secondary-font;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: $font-color;
        }
    }

    a:hover {
        h3 {
            color: $primary;
            text-decoration: underline;
        }
    }

}