.engagera-header {
    background-image: url('/img/IMaI_banner_Engagera-dig.jpg');
    background-position: center;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    .menu-wrapper a {
        color: #fff;
    }


    .header-wrapper {
        margin: 1rem auto 0 auto;
        padding-bottom: 3rem;

        @include media-breakpoint-up(md) {
            padding-bottom: 5rem;
        }

        @include media-breakpoint-up(lg) {
            padding-bottom: 10rem;
        }
    }

    .navigation {

        a {
            svg {
                fill: white;
            }
        }
        .menu-wrapper {
            a {
                svg {
                    fill: white;
                }

                &:hover {
                    svg {
                        fill: $primary;
                    }
                }
            }
        }
    }
}

main {
    .post-content {
        margin: 2rem auto 4rem auto;

        text-align: left;

        @include media-breakpoint-up(md) {
            margin: 4rem auto;
        }

        @include media-breakpoint-up(lg) {
            margin: 6rem auto;
            width: 70%;
        }

        p {
            font-size: 1rem;
            font-family: $primary-font;
            font-weight: 300;

            @include media-breakpoint-up(md) {
                font-size: 1.2rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.4rem;
            }
        }

        h2 {
            font-size: 1.75rem;
            font-family: $primary-font;
            font-weight: 700;
        }
    }

    a:link,
    a:visited {
        color: $primary;
        text-decoration: underline;

        &:hover {
            color: $primary-dark;
        }
    }

    .boxes {
        margin: 2rem auto;
        width: 70%;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        @include media-breakpoint-up(md) {
            margin: 4rem auto;
        }

        @include media-breakpoint-up(lg) {
            margin: 6rem auto;
        }

        a:link,
        a:visited {
            background-color: $primary;
            width: 12.5rem;
            height: 12.5rem;
            margin: 0.5rem;

            display: flex;
            justify-content: center;
            align-items: center;
            word-wrap: auto;
            text-align: center;
            font-size: 1rem;
            color: #fff;
            font-weight: 400;
            text-decoration: none;

            @include media-breakpoint-up(md) {
                font-size: 1.2rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.4rem;
            }

            &:hover {
                background-color: $primary-dark;
            }
        }
    }
}

.engagera-main {
    .lokalgrupper {
        // width: 70%;
        background-color: transparent;
        padding-bottom: 0;

        h2 {
            color: $font-color;
        }

        .button {
            background-color: $primary;
        }
    }
}

hr {
    border:none;
    border-top: 2px dotted $border-color;
    height:1px;
    width:70%;
}