
.group {
    margin: 1rem auto;

    h2 a {
        font-family: $secondary-font;
        font-weight: 500;
        font-size: 1.5rem;
        // width: 70%;
        line-height: 1rem;
        margin-bottom: 1rem;
        color: $font-color;
        text-decoration: none;

        &:hover, &:active, &:focus {
          text-decoration: underline;
          color: $font-color;
        }

        @include media-breakpoint-up(md) {
           font-size: 2rem;
           line-height: 1.7rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 2.25rem;
            width: 70%;
            line-height: 2.8rem;
        }
    }

    div {
        // Changed to max-width, or they were to small on mobile
        //width: 50%;
        max-width: 180px;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        //@include media-breakpoint-up(md) {
            //width: 25%;
        //}

         //@include media-breakpoint-up(lg) {
            //width: 60%;
         //}


        a,
        a:link,
        a:visited {
            display: inline-block;
            background-color: $primary;
            margin: 0.3rem 0;
            padding: 0.3rem 1rem;
            color: #fff;
            font-size: 1.1rem;
            font-family: $secondary-font;
            text-decoration: none;

            @include media-breakpoint-up(lg) {
                font-size: 1.25rem;
            }
        }

        a:hover {
            background-color: $primary-dark;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;

            a {
                font-size: 1rem;
                color: $font-color;
                font-family: $secondary-font;
                font-weight: 500;
                line-height: 2.1rem;
                text-transform: uppercase;
                text-decoration: none;

                @include media-breakpoint-up(lg) {
                    font-size: 1.2rem;
                }

                &:hover, &:active, &:focus {
                  text-decoration: underline;
                  color: $font-color;
                }

            }

            a.active {
                color: $primary;
                text-decoration: underline;
            }
        }
    }
}

.group-content {

    // Add a border between menu and content
    border-top: 2px dotted #ccc;
    @include media-breakpoint-up(lg) {
      border-top: 0px;
    }

    h1 {
        // margin: 0 3rem;
        font-size: 1.75rem;
        font-weight: 900;
        margin-bottom: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            margin-bottom: 3.5rem;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 1rem;

        @include media-breakpoint-up(lg) {
            margin-bottom: 2rem;
        }
    }

/*    p {
        font-size: 1.1rem;
        font-family: $primary-font;
        font-weight: 300;

        @include media-breakpoint-up(md) {
            font-size: 1.3rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.4rem;
            margin: 1rem 3rem;
        }
    }*/

}
