main {
    .post-content {
        margin: 2rem auto 4rem auto;

        text-align: left;

        @include media-breakpoint-up(md) {
            margin: 4rem auto;
        }

        @include media-breakpoint-up(lg) {
            margin: 6rem auto;
            width: 70%;

            // If the page is in a group, ie it has a sidebar,
            // don't set top margin or 70% width.
            // @at-root is sass syntax for breaking out of nesting
            @at-root main.group-context .post-content {
              margin: 0 auto;
              width: auto;
            }
        }

        h1 {
            margin: 1rem auto 2rem auto;
            font-size: 1.75rem;
            font-weight: 700;
            font-family: $primary-font;

            @include media-breakpoint-up(md) {
                font-size: 2rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 3rem;
                // Remove the left/right margins
                // margin: 1rem 3rem;
            }
        }

        // Wordpress uses <figure> for images
        //img {
        figure {
            margin: 1rem auto;
            // Allow the element to break out of container
            // Fallback to center aligned image if the image is to small
            max-width: none;
            text-align: center;

            // Don't allow images in groups to break out of container
            @at-root main.group-context .post-content figure {
              max-width: 100%;
            }

            @include media-breakpoint-up(md) {
                margin: 2rem auto;
            }

            @include media-breakpoint-up(lg) {
                // margin: 3rem auto;
                // Add negative left/right margins
                margin: 3rem -3rem;

                // Don't allow images in groups to break out of container
                @at-root main.group-context .post-content figure {
                  margin: 3rem auto;
                }

            }
        }

        // Added font styling to ul element as well as p
        p, ul, dl, ol {
            margin: 1rem 0;
            font-size: 1.1rem;
            font-family: $primary-font;
            font-weight: 300;

            @include media-breakpoint-up(md) {
                font-size: 1.3rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.4rem;
                // Remove the left/right margins
                // margin: 1rem 3rem;
            }
        }
        ul, dl, ol {
          @include media-breakpoint-down(sm) {
            padding-left: 1.1rem;
          }
        }

        h2 {
            margin: 3rem 0 1rem 0;
            font-size: 1.75rem;
            font-family: $primary-font;
            font-weight: 700;

            @include media-breakpoint-up(lg) {
                // Remove the left/right margins
                // margin: 2rem 3rem 1rem 3rem;
            }
        }

        // Add styling for h3
        h3 {
          margin: 2.5rem 0 -0.5rem 0;
          font-family: $primary-font;
          font-weight: 700;
          font-size: 1.1rem;

          @include media-breakpoint-up(md) {
              font-size: 1.3rem;
          }

          @include media-breakpoint-up(lg) {
              font-size: 1.4rem;
          }

        }

        // Add styling for h4
        h4 {
          margin: 2.5rem 0 -0.5rem 0;
          font-family: $primary-font;
          font-weight: 300;
          font-style: italic;
          font-size: 1.1rem;

          @include media-breakpoint-up(md) {
              font-size: 1.3rem;
          }

          @include media-breakpoint-up(lg) {
              font-size: 1.4rem;
          }
        }

        // Add styling for strong
        b, strong {
          font-weight: 700;
        }

    }

    a:link,
    a:visited {
        color: $primary;
        text-decoration: underline;

        &:hover {
            color: $primary-dark;
        }
    }

    // Styling for date and groups
    .date,
    .groups {
      font-size: 0.6rem;
      font-weight: 400;
      font-family: $secondary-font;
      padding: 0 0 0.4rem 0;
      text-transform: uppercase;

      @include media-breakpoint-up(md) {
        font-size: 0.8rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 0.9rem;
      }
    }

    // Styling for event
    .post-event {
      font-size: 0.8rem;
      font-family: $secondary-font;
      font-weight: 500;
      margin-bottom: 1rem;

      @include media-breakpoint-up(md) {
          font-size: 0.9rem;
      }

      @include media-breakpoint-up(lg) {
          font-size: 1.1rem;
      }
    }

    .boxes {
        margin: 2rem auto;
        width: 70%;

        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        @include media-breakpoint-up(md) {
            margin: 4rem auto;
        }

        @include media-breakpoint-up(lg) {
            margin: 6rem auto;
        }

        a:link,
        a:visited {
            background-color: $primary;
            width: 12.5rem;
            height: 12.5rem;
            margin: 0.5rem;

            display: flex;
            justify-content: center;
            align-items: center;
            word-wrap: auto;
            text-align: center;
            font-size: 1rem;
            color: #fff;
            font-weight: 400;
            text-decoration: none;

            @include media-breakpoint-up(md) {
                font-size: 1.2rem;
            }

            @include media-breakpoint-up(lg) {
                font-size: 1.4rem;
            }

            &:hover {
                background-color: $primary-dark;
            }
        }
    }
}

// Add support for rtl languages
main.post-182,
main.post-186,
main.post-184 {
  h1, h2, h3, h4, ul, ol, p {
    text-align: right;
  }
}
.rtl {
  text-align: right;
}


.material {
    // width: 70%;
    // margin: 1rem auto;

    display: flex;

    @include media-breakpoint-up(lg) {
        width: 70%;
        margin: 1rem auto;
    }

    img {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        margin-right: 1rem;
    }

    a:link,
    a:visited {
        color: $font-color;
        text-decoration: none;

        h3 {
            font-size: 1.25rem;
            font-family: $primary-font;
            font-weight: 700;
        }

        p {
            font-size: 0.8rem;
            font-family: $secondary-font;
            font-weight: 400;
            margin-bottom: 0.5rem;
            color: $font-color;
        }
    }

    a:hover {
        h3 {
            color: $primary;
            text-decoration: underline;
        }
    }

}
