//colors:
$primary: #46ADD6;
$primary-dark: #0D83A8;
$white: #FFFFFF;
$bg-color:#F6F6F4;
$font-color: #333333;
$black: #000;
$border-color: #CCCCCC;
$footer-links-color: #DDDDDD;

// fonts:
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Mono', monospace;

